body
{
	background: #ececec;
}
input
{
	border: 2px solid #eee;
	padding: 10px 30px 10px 30px;
    font-size: 25;
    border-radius: 4px;
}
input:focus
{
	border: 2px solid #ffce54;
	outline: none;
}
label
{
	margin-top: 5px;
	color: #656d78;
	font-weight: normal;
}

.wf
{
	color: #fff;
}
.wf:hover
{
	color: #fff;
}
.wfb
{
	font-weight: bold;
	color: #fff;
}
.grapefruit1
{
	background: #ed5565;
}
.grapefruit2
{
	background: #da4453; 
}
.bittersweet1
{
	background: #fc6e51; 
}
.bittersweet2
{
	background: #e9573f;
}
.sunflower1
{
	background-color: #ffce54;
}
.sunflower2
{
	background-color: #f6bb42;
}
.grass1
{
	background: #A0D468;
}
.grass2
{
	background: #8CC152;
}
.mint1
{
	background: #48cfad;
}
.mint2
{
	background: #37bc9b;
}
.aqua1
{
	background: #4fc1e9;
}
.aqua2
{
	background: #3bafda;
}
.bluejeans1
{
	background: #5d9cec;
}
.bluejeans2
{
	background: #a489dc;
}
.lavander1
{
	background: #ac92ec;
}
.lavander2
{
	background: #967adc;
}
.pinkrose1
{
	background: #ec87c0;
}
.pinkrose2
{
	background: #d770ad;
}
.darkgray1
{
	background: #656d78;
}
.darkgray2
{
	background: #434a54;
}


.pageContainer
{
}

.header,.footer
{
	height: 50px;
	color: #fff;
	background-color: #da4453; 
	margin: 0px;
	font-size: 21px;
	padding: 0px;
/*	box-shadow: 0px 1px 4px rgba(0,0,0,.3);*/
}
.header div
{
	padding: 10px 30px 10px 30px;
}
.header div:hover
{
	background-color: #ed5565;
	cursor: pointer;
}

.header__menuToggle
{
	display: inline-block;
}
.header__appName
{
	display: inline-block;
	float: right;
}
/*
.header div,.footer div
{
	display: inline-block;
	padding: 11px 30px 10px 30px;
}
.header div:hover
{
	background-color: #ed5565;
	cursor: pointer;
}
*/
.content
{
	padding: 10px 30px 10px 30px;
	margin-top: 30px;
	min-height: 700px;
	background: #fff;
	border-radius: 4px;
}
.content__buttons
{
	margin: 0 auto;
	width: 700px;
}
.content__buttons div
{
	display: inline-block;
	padding: 20px;
	font-size: 25px;
	border: 3px solid #eee;
	border-radius: 4px;
	min-width: 150px;
	text-align: center;
	cursor: pointer;
	margin-right: 20px;
}
.content__buttons div.wf
{
	/*margin-top: 150px;*/
}
.content__buttons div:hover
{
	opacity: 0.8;
}
.content__buttons__signup
{
	float: right;
}
.header__menu
{
	position: absolute;
	top: 50px;
	left: 0px;
	bottom: 0px;
	width: 200px;
	z-index: 999;
	background-color: #fff;
	border-right: 2px solid #da4453;
	border-bottom: 2px solid #da4453;
	border-radius: 0px 0px 3px 0px;
	/*display: none;*/
	left: -200px;
}

.header__menu ul
{
	padding-top:15px;
}

.header__menu li
{
	margin: 0px;
	padding-top: 10px;
	padding: 8px;
	padding-left: 20px;
	font-size: 18px;
	cursor: pointer;

}

.header__menu li:hover
{
	background: #da4453;
	color: #fff;
}
.header__menu li i
{
	color: #ed5565;
}

.header__menu li:hover i
{
	color: #fff;
}

.content__lobby li
{
	display: block;
	padding: 10px 30px 10px 30px; 
	border:3px solid #eee;
	margin-bottom: 5px;
	border-radius: 4px;
	font-size: 20px;
	cursor: pointer;	
}
.content__lobby li:hover
{
	background: #fc6e51;
	color: #fff;
}

.content__chatUsers
{
	border-left: 3px solid #eee;
	min-height: 100px;
}
.content__chatWindow
{

}
.footer__chatBox
{
	height:90px;
	position:relative;
	bottom:0px;
	padding: 10px;
}
.chatBox textarea
{
	border:3px solid #eee;
	width: 100%;
	height: 65px;
	border-radius: 4px; 
}
.chatBox textarea:focus
{
	outline: none;
	border-color: #ffce54;
}
.footer__chatBox__submit
{
	display: inline-block;
	padding: 12px;
	font-size: 25px;
	border: 3px solid #eee;
	border-radius: 4px;
	min-width: 150px;
	text-align: center;
	cursor: pointer;
}
.footer__chatBox__submit:hover
{
	opacity: 0.8;
}

.footer
{
	margin-top: 30px;
	bottom: 0px;
	height: 50px;
	background-color: #f6bb42;
}
.footer div:hover
{
	background-color: #ffce54;
	cursor: pointer;
}